#main-title {
    text-decoration: none;
    display: none;
}

#panou {
    position: absolute;
    top: 0;
    /*z-index: -1;
    opacity: 0.4;
    filter: alpha(opacity=40);*/
}

#sidebar-titles {
    padding-top: 30%;
}

#sidebar-titles h2 {
    color: white;
}

.sidebar {
    background: #1D4219;
}

@media screen and (max-width: 48rem) {
    #panou {
        display: none ;
    }
    #main-title {
        display: inline;
    }
    #sidebar-titles {
        padding-top: 0;
    }
}
